---
import PasswordProtector from "../components/PasswordProtector/PasswordProtector";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <PasswordProtector client:load>
    <div>TODO: put prints here</div>
  </PasswordProtector>
</BaseLayout>
