---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header/Header.astro";

const { noHeader, noFooter, noIndex, openGraphImageUrl } = Astro.props;
---

<style>
  body {
    margin: 0;
    overflow-x: hidden;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Comfortaa, sans-serif;
    color: #9b9b9b;
    font-weight: 300;
    line-height: 1.6;
  }

  .content {
    flex: 1;
    width: 1140px;
    max-width: 100dvw;
    padding: 0;
  }
</style>

<html lang="en">
  <Head noIndex={noIndex} openGraphImageUrl={openGraphImageUrl} />
  <body>
    {!noHeader && <Header />}
    <div class="content">
      <slot />
    </div>
    {!noFooter && <Footer />}
  </body>
</html>
