.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  margin: 40px;
  font-size: 14px;
}

.label {
  font-weight: bold;
  font-size: 12px;
  margin: 10px;
  filter: brightness(0.8);
}

.row input {
  font-family: Comfortaa, sans-serif;
}

.row input[type="submit"] {
  font-size: 12px;
  margin-left: 5px;
}

.privatePage {
  font-size: 12px;
  margin: 40px;
  margin-top: 60px;
  filter: brightness(0.8);
}
